:root {
  --purple: #282538;
  --blue:#1E86FF;  ;
  --bg-white: #F6F7FB;
  --main-text: #334680;
  --gray-text: #B9BDCF;
  --date-text: #B7BCCE;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-white);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

*{
  box-sizing: border-box;
}

html, body, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-white);
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding: 3vh 10%;
}

@media screen and (max-width: 968px) {
  .App {
    padding: 3vh 5%;
  }
}

.global {
  display: flex;
  gap: 2.3rem;
  margin-top: 2rem;
}

.global:first-child {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .global {
    flex-direction: column;
  }
}

.global > div:last-child {
  flex-grow: 5;
}

h3 {
  font-family: 'Poppins', sans-serif;
  color: var(--gray-text);
  line-height: 21px;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 2.2rem;
}

.apply{
  width: 200px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--main-text);
  word-wrap: break-word;
}

.apply a {
  color: var(--blue);
  text-decoration: none;
}

.apply a:hover {
  cursor: pointer;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-right: 12px;
  color: var(--main-text);
}

.description {
  margin-top: 2.2rem;
  color: var(--main-text);
  font-size: 16px;
  line-height: 150%;
}

.joblist {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.btn-pagination {
  border: 1px solid var(--date-text);
  color: var(--date-text);
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  transition: all 220ms ease-out;
}

.btn-pagination:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
  cursor: pointer;
}

.btn-pagination.disabled, .btn-pagination:hover.disabled{
  border: 1px solid var(--gray-text);
  color: var(--gray-text);
  cursor: default;
}

.btn-pagination.selected {
  border: none;
  background-color: var(--blue);
  color: #ffffff;
}

.btn-pagination span {
  font-size: 14px;
}

.btn-pagination .material-icons {
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--gray-text);
}

@media screen and (max-width: 768px)  {
  footer {
    padding: 1.5rem 12px;
  }
}

.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--purple);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  height: 100%;
}

.page-not-found h1 {
  font-size: 3.3rem;
  margin-top: 0px;
  margin-bottom: 5px;
}

.page-not-found h4 {
  color: var(--gray-text);
}

.page-not-found a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  border-bottom: 5px solid transparent;
  transition: border 330ms ease-in-out;
  color: var(--main-text);
}

.page-not-found a:hover {
  border-bottom-color: var(--blue);
  cursor: pointer;
}

.page-not-found a:focus {
  outline: none;
}