:root {
  --purple: #282538;
  --blue:#1E86FF;  ;
  --bg-white: #F6F7FB;
  --main-text: #334680;
  --gray-text: #B9BDCF;
  --date-text: #B7BCCE;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-white);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

*{
  box-sizing: border-box;
}

html, body, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-white);
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding: 3vh 10%;
}

.global {
  display: flex;
  gap: 2.3rem;
  margin-top: 2rem;
}

.global div:first-child {
  flex-grow: 1;
}

.global div:last-child {
  flex-grow: 5;
}

.joblist {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.pagination {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.btn-pagination {
  border: 1px solid var(--date-text);
  color: var(--date-text);
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  transition: all 220ms ease-out;
}

.btn-pagination:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
  cursor: pointer;
}

.btn-pagination.selected {
  border: none;
  background-color: var(--blue);
  color: #ffffff;
}

.btn-pagination span {
  font-size: 14px;
}

.btn-pagination .material-icons {
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--gray-text);
}